# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
.venv/

# Django stuff:
*.log
*.pot
*.pyc
*.sqlite3
# db.sqlite3

# Media and static
media/
staticfiles/

# Environment variables
.env

# IDEs and editors
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS files
.DS_Store
Thumbs.db

# Python packaging
*.egg-info/
dist/
build/
.eggs/

# Jupyter notebooks
.ipynb_checkpoints/
