{% extends "base.html" %}
{% load static %}
{% block title %}Techoraa | About{% endblock title %}

{% block body %}
<!-- Page Title -->
    <section class="page-title">
		<div class="page-title_big-title">Services</div>
		<div class="page-title_bg-image" style="background-image:url({% static '' %}images/background/3.jpg)"></div>
		<div class="page-title_shape-one" style="background-image:url({% static '' %}images/background/page-title-1.png)"></div>
		<div class="page-title_shape-two" style="background-image:url({% static '' %}images/background/page-title-2.png)"></div>
        <div class="auto-container">
			<h1>Services</h1>
			<ul class="bread-crumb clearfix">
				<li><a href="index.html">Home</a></li>
				<li>Services</li>
			</ul>
        </div>
    </section>
    <!-- End Page Title -->

    <!-- Empower One -->
      <section class="empower-one">
        <div class="empower-shape-image" style="background-image: url({% static 'images/background/price-one_bg.png' %});"></div>
        <div class="auto-container">
          <!-- Sec Title -->
          <div class="sec-title centered">
            <div class="sec-title_title">
              <div class="sec-title_dots">
                <span></span>
                <span></span>
                <span></span>
              </div>Empowering<div class="sec-title_dots">
                <span></span>
                <span></span>
                <span></span>
              </div>
            </div>
            <h2 class="sec-title_heading">Your Business Growth Through <br /> with Us.</h2>
          </div>
          <div class="clearfix">
            <!-- Empower Block One -->
            <div class="empower-block_one">
              <div class="empower-block_one-inner">
                <div class="empower-block_one-image">
                  <img src="{% static 'images/resource/empower-1.jpg' %}" alt="" />
                  <div class="empower-block_one-icon">
                    <img src="{% static 'images/icons/service-1.svg' %}" alt="" />
                  </div>
                  <div class="empower-block_bg" style="background-image:url({% static 'images/background/empower-bg.png' %})"></div>
                </div>
                <div class="empower-block_one-content">
                  <h4 class="empower-block_one-title"><a href="#">Business Website Development</a></h4>
                  <div class="empower-block_one-text">Build a professional online presence that grows your brand.</div>
                </div>
              </div>
            </div>

            <!-- Empower Block One -->
            <div class="empower-block_one">
              <div class="empower-block_one-inner">
                <div class="empower-block_one-image">
                  <img src="{% static 'images/resource/empower-2.jpg' %}" alt="" />
                  <div class="empower-block_one-icon">
                    <img src="{% static 'images/icons/service-2.svg' %}" alt="" />
                  </div>
                  <div class="empower-block_bg" style="background-image:url({% static 'images/background/empower-bg.png' %})"></div>
                </div>
                <div class="empower-block_one-content">
                  <h4 class="empower-block_one-title"><a href="#">E-commerce Website Development</a></h4>
                  <div class="empower-block_one-text">Sell smarter with secure, scalable online stores.</div>
                </div>
              </div>
            </div>

            <!-- Empower Block One -->
            <div class="empower-block_one">
              <div class="empower-block_one-inner">
                <div class="empower-block_one-image">
                  <img src="{% static 'images/resource/empower-3.jpg' %}" alt="" />
                  <div class="empower-block_one-icon">
                    <img src="{% static 'images/icons/service-3.svg' %}" alt="" />
                  </div>
                  <div class="empower-block_bg" style="background-image:url({% static 'images/background/empower-bg.png' %})"></div>
                </div>
                <div class="empower-block_one-content">
                  <h4 class="empower-block_one-title"><a href="#">Website Bug Fixing & Feature Addition</a></h4>
                  <div class="empower-block_one-text">Keep your site smooth, updated, and feature-rich.</div>
                </div>
              </div>
            </div>

            <!-- Empower Block One -->
            <div class="empower-block_one">
              <div class="empower-block_one-inner">
                <div class="empower-block_one-image">
                  <img src="{% static 'images/resource/empower-4.jpg' %}" alt="" />
                  <div class="empower-block_one-icon">
                    <img src="{% static 'images/icons/service-4.svg' %}" alt="" />
                  </div>
                  <div class="empower-block_bg" style="background-image:url({% static 'images/background/empower-bg.png' %})"></div>
                </div>
                <div class="empower-block_one-content">
                  <h4 class="empower-block_one-title"><a href="#">Monthly Website Maintenance</a></h4>
                  <div class="empower-block_one-text">Hassle-free updates, security, and performance checks.</div>
                </div>
              </div>
            </div>

            <!-- Empower Block One -->
            <div class="empower-block_one">
              <div class="empower-block_one-inner">
                <div class="empower-block_one-image">
                  <img src="{% static 'images/resource/empower-5.jpg' %}" alt="" />
                  <div class="empower-block_one-icon">
                    <img src="{% static 'images/icons/service-5.svg' %}" alt="" />
                  </div>
                  <div class="empower-block_bg" style="background-image:url({% static 'images/background/empower-bg.png' %})"></div>
                </div>
                <div class="empower-block_one-content">
                  <h4 class="empower-block_one-title"><a href="#">Portfolio / Landing Page Development</a></h4>
                  <div class="empower-block_one-text">Showcase your work with stylish, impactful pages.</div>
                </div>
              </div>
            </div>
          </div>

          <div class="lower-box text-center">
            <div class="empower-block_one-text">
              From creating stunning business websites to building secure e-commerce platforms, fixing bugs, adding features,<br> and maintaining your site monthly—we provide end-to-end web solutions tailored to your needs.<br> Whether it’s a sleek portfolio or a high-performing online store, our goal is to help your digital presence thrive effortlessly.
            <!-- Button Box -->
            <div class="empower-one_button">
              <a href="{{site_settings.telegram}}" class="theme-btn btn-style-one">
                <span class="btn-wrap">
                  <span class="text-one">Explore more </span>
                  <span class="text-two">Explore more </span>
                </span>
              </a>
            </div>
          </div>
        </div>
      </section>
      <!-- End Empower One -->

    <!-- Incredible One -->
	<section class="incredible-one">
		<div class="incredible-one_bg"></div>
		<div class="incredible-one_pattern" style="background-image:url({% static '' %}images/background/pattern-9.png)"></div>
		<div class="incredible-one_vector" style="background-image:url({% static '' %}images/background/pattern-10.png)"></div>
		<div class="auto-container">
			<!-- Sec Title -->
			<div class="sec-title light title-anim">
				<div class="sec-title_title">
					Get to know 
					<div class="sec-title_dots">
						<span></span>
						<span></span>
						<span></span>
					</div>
				</div>
				<h2 class="sec-title_heading">incredible individuals</h2>
			</div>
			<div class="incredible-one_title">behind <br>company</div>
		</div>
	</section>
	<!-- End Incredible One -->

    	<!-- Experiance One -->
	<section class="experiance-one">
		<div class="marque-outer">
			<!-- Animation Mode -->
			<div class="animation_mode">
				<h1>chatbot</h1>
				<h1 class="light">development</h1>
				<h1>chatbot</h1>
				<h1 class="light">development</h1>
			</div>
			<!-- Animation Mode Two -->
			<div class="animation_mode-two">
				<h2>search engine marketing</h2>
				<h2>search engine marketing</h2>
				<h2>search engine marketing</h2>
				<h2>search engine marketing</h2>
				<h2>search engine marketing</h2>
			</div>
		</div>
		<div class="auto-container">
			<div class="experiance-one_years d-flex justify-content-end">
				<div class="experiance-one_years-inner">
					<div class="experiance-one_text">with more than 5+ years of experience, our team has become a leader in this digital universe</div>
					<!-- Button Box -->
					<div class="experiance-one_button">
						<a href="about.html" class="theme-btn btn-style-one">
							<span class="btn-wrap">
								<span class="text-one">Get Started</span>
								<span class="text-two">Get Started</span>
							</span>
						</a>
					</div>
				</div>
			</div>
			
		</div>
	</section>
	<!-- End Marketing One -->

{% endblock body %}