{% extends "base.html" %}
{% load static %}
{% block title %}Techoraa | About{% endblock title %}

{% block body %}
<!-- Page Title -->
    <section class="page-title">
		<div class="page-title_big-title">Services</div>
		<div class="page-title_bg-image" style="background-image:url({% static '' %}images/background/3.jpg)"></div>
		<div class="page-title_shape-one" style="background-image:url({% static '' %}images/background/page-title-1.png)"></div>
		<div class="page-title_shape-two" style="background-image:url({% static '' %}images/background/page-title-2.png)"></div>
        <div class="auto-container">
			<h1>Services</h1>
			<ul class="bread-crumb clearfix">
				<li><a href="index.html">Home</a></li>
				<li>Services</li>
			</ul>
        </div>
    </section>
    <!-- End Page Title -->

    <!-- Empower One -->
      <section class="empower-one">
        <div class="empower-shape-image" style="background-image: url({% static 'images/background/price-one_bg.png' %});"></div>
        <div class="auto-container">
          <!-- Sec Title -->
          <div class="sec-title centered">
            <div class="sec-title_title">
              <div class="sec-title_dots">
                <span></span>
                <span></span>
                <span></span>
              </div>Empowering<div class="sec-title_dots">
                <span></span>
                <span></span>
                <span></span>
              </div>
            </div>
            <h2 class="sec-title_heading">Your Business Growth Through <br /> with IT Solutions.</h2>
          </div>
          <div class="clearfix">
            <!-- Empower Block One -->
            <div class="empower-block_one">
              <div class="empower-block_one-inner">
                <div class="empower-block_one-image">
                  <img src="{% static 'images/resource/empower-1.jpg' %}" alt="" />
                  <div class="empower-block_one-icon">
                    <img src="{% static 'images/icons/service-1.svg' %}" alt="" />
                  </div>
                  <div class="empower-block_bg" style="background-image:url({% static 'images/background/empower-bg.png' %})"></div>
                </div>
                <div class="empower-block_one-content">
                  <h4 class="empower-block_one-title"><a href="#">Technology Innovation</a></h4>
                  <div class="empower-block_one-text">We are web designers, developers, project managers,</div>
                </div>
              </div>
            </div>

            <!-- Empower Block One -->
            <div class="empower-block_one">
              <div class="empower-block_one-inner">
                <div class="empower-block_one-image">
                  <img src="{% static 'images/resource/empower-2.jpg' %}" alt="" />
                  <div class="empower-block_one-icon">
                    <img src="{% static 'images/icons/service-2.svg' %}" alt="" />
                  </div>
                  <div class="empower-block_bg" style="background-image:url({% static 'images/background/empower-bg.png' %})"></div>
                </div>
                <div class="empower-block_one-content">
                  <h4 class="empower-block_one-title"><a href="#">market trends analysis</a></h4>
                  <div class="empower-block_one-text">We are web designers, developers, project managers,</div>
                </div>
              </div>
            </div>

            <!-- Empower Block One -->
            <div class="empower-block_one">
              <div class="empower-block_one-inner">
                <div class="empower-block_one-image">
                  <img src="{% static 'images/resource/empower-3.jpg' %}" alt="" />
                  <div class="empower-block_one-icon">
                    <img src="{% static 'images/icons/service-3.svg' %}" alt="" />
                  </div>
                  <div class="empower-block_bg" style="background-image:url({% static 'images/background/empower-bg.png' %})"></div>
                </div>
                <div class="empower-block_one-content">
                  <h4 class="empower-block_one-title"><a href="#">Business Development</a></h4>
                  <div class="empower-block_one-text">We are web designers, developers, project managers,</div>
                </div>
              </div>
            </div>

            <!-- Empower Block One -->
            <div class="empower-block_one">
              <div class="empower-block_one-inner">
                <div class="empower-block_one-image">
                  <img src="{% static 'images/resource/empower-4.jpg' %}" alt="" />
                  <div class="empower-block_one-icon">
                    <img src="{% static 'images/icons/service-4.svg' %}" alt="" />
                  </div>
                  <div class="empower-block_bg" style="background-image:url({% static 'images/background/empower-bg.png' %})"></div>
                </div>
                <div class="empower-block_one-content">
                  <h4 class="empower-block_one-title"><a href="#">market Penetration</a></h4>
                  <div class="empower-block_one-text">We are web designers, developers, project managers,</div>
                </div>
              </div>
            </div>

            <!-- Empower Block One -->
            <div class="empower-block_one">
              <div class="empower-block_one-inner">
                <div class="empower-block_one-image">
                  <img src="{% static 'images/resource/empower-5.jpg' %}" alt="" />
                  <div class="empower-block_one-icon">
                    <img src="{% static 'images/icons/service-5.svg' %}" alt="" />
                  </div>
                  <div class="empower-block_bg" style="background-image:url({% static 'images/background/empower-bg.png' %})"></div>
                </div>
                <div class="empower-block_one-content">
                  <h4 class="empower-block_one-title"><a href="#">Business Consulting</a></h4>
                  <div class="empower-block_one-text">We are web designers, developers, project managers,</div>
                </div>
              </div>
            </div>
          </div>

          <div class="lower-box text-center">
            <div class="empower-block_one-text">
              We are web designers, developers, project managers, And digital marketing professionals <br /> dedicated to Creative and solutions using the latest trend.
            </div>
            <!-- Button Box -->
            <div class="empower-one_button">
              <a href="services/" class="theme-btn btn-style-one">
                <span class="btn-wrap">
                  <span class="text-one">competitive</span>
                  <span class="text-two">competitive</span>
                </span>
              </a>
            </div>
          </div>
        </div>
      </section>
      <!-- End Empower One -->

      <!-- Business One -->
      <section class="business-one">
        <div class="business-one_vector" style="background-image:url({% static 'images/background/pattern-21.png' %})"></div>
        <div class="business-one_vector-two" style="background-image:url({% static 'images/background/pattern-22.png' %})"></div>
        <div class="auto-container">
          <div class="row clearfix">
            <!-- Video Column -->
            <div class="business-one_video-column col-lg-6 col-md-12 col-sm-12">
              <div class="business-one_video-outer">
                <div class="business-one_video-bg"></div>
                <a href="https://www.youtube.com/watch?v=kxPCFljwJws" class="business-one_play lightbox-video"><span><img src="{% static 'images/icons/play.png' %}" alt="" /><i class="ripple"></i></span></a>
                <div class="business-one_video">
                  <img src="{% static 'images/resource/video.jpg' %}" alt="" />
                </div>
                <div class="business-one_video-content">
                  <div>
                    Digital Engagement
                    <span>Watch Video</span>
                  </div>
                </div>
              </div>
            </div>

            <!-- Content Column -->
            <div class="business-one_content-column col-lg-6 col-md-12 col-sm-12">
              <div class="business-one_content-outer">
                <!-- Sec Title -->
                <div class="sec-title light">
                  <div class="sec-title_title">
                    <div class="sec-title_dots">
                      <span></span>
                      <span></span>
                      <span></span>
                    </div>What we offer<div class="sec-title_dots">
                      <span></span>
                      <span></span>
                      <span></span>
                    </div>
                  </div>
                  <h2 class="sec-title_heading">Small Smart Business <br /> Grow Faster Now</h2>
                  <div class="sec-title_text">IT consulting and software development services. We have helped non-IT organizations and companies</div>
                </div>

                <!-- Business One Content -->
                <div class="business-one_content">
                  <div class="business-one_certified">
                    <img src="{% static 'images/icons/certified.png' %}" alt="" />
                  </div>
                  <ul class="business-one_list">
                    <li>Solution We Provide For You</li>
                    <li>Provide Finest Services</li>
                    <li>Providing Information To A Client.</li>
                    <li>Strategic Planning.</li>
                  </ul>
                </div>
                <div class="news-one_button">
                  <a href="#" class="theme-btn btn-style-three">
                    <span class="btn-wrap">
                      <span class="text-one">Get Started</span>
                      <span class="text-two">Get Started</span>
                    </span>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- End Business One -->

      <!-- Program One -->
	<section class="offer-one style-two">
		<div class="offer-one_color"></div>
		<div class="offer-one_bg-color" data-parallax='{"y" : 120}'></div>
		<div class="auto-container">
			<div class="row clearfix">
				
				<!-- Image Column -->
				<div class="offer-one_image-column col-lg-6 col-md-12 col-sm-12">
					<div class="offer-one_image-outer">
						<div class="offer-one_images_outer">
							<!-- Image -->
							<div class="offer-one_image active">
								<img src="{% static '' %}images/resource/offer-1.jpg" alt="">
							</div>
							<!-- Image -->
							<div class="offer-one_image two">
								<img src="{% static '' %}images/resource/offer-2.jpg" alt="">
							</div>
							<!-- Image -->
							<div class="offer-one_image three">
								<img src="{% static '' %}images/resource/offer-3.jpg" alt="">
							</div>
							<!-- Image -->
							<div class="offer-one_image four">
								<img src="{% static '' %}images/resource/offer-4.jpg" alt="">
							</div>
						</div>
						<!-- Award Box -->
						<div class="step-award_box">
							<div class="step-award_count"><span class="odometer" data-count="100"></span>+</div>
							<span class="step-award_subtitle">Award Winning</span>
						</div>
					</div>
				</div>
				
				<!-- Content Column -->
				<div class="offer-one_content-column col-lg-6 col-md-12 col-sm-12">
					<div class="offer-one_content-outer">
						<!-- Sec Title -->
						<div class="sec-title title-anim">
							<div class="sec-title_title">
								what can we offer
								<div class="sec-title_dots">
									<span></span>
									<span></span>
									<span></span>
								</div>
							</div>
							<h2 class="sec-title_heading">Services we're offering</h2>
						</div>
						<div class="offer-one_titles">
							<!-- One -->
							<div class="offer-one_title active">
								<div class="offer-one_icon-outer">
									<span class="offer-one_number">1</span>
									<div class="offer-one_icon">
										<img src="{% static '' %}images/icons/offer-1.svg" alt="">
									</div>
								</div>
								<h3 class="offer-one_heading"><a href="service-detail.html">Internet Marketing</a></h3>
								<ul class="offer-one_tags">
									<li><a href="#">Strategy</a></li>
									<li><a href="#">Marketing</a></li>
									<li><a href="#">Advertisement</a></li>
									<li><a href="#">Planing</a></li>
								</ul>
								<a class="offer-one_arrow" href="service-detail.html">
									<img src="{% static '' %}images/icons/offer_arrow.svg" alt="">
								</a>
							</div>
							<!-- Two -->
							<div class="offer-one_title">
								<div class="offer-one_icon-outer">
									<span class="offer-one_number">2</span>
									<div class="offer-one_icon">
										<img src="{% static '' %}images/icons/offer-2.svg" alt="">
									</div>
								</div>
								<h3 class="offer-one_heading"><a href="service-detail.html">Google Ads Advertising</a></h3>
								<ul class="offer-one_tags">
									<li><a href="#">Strategy</a></li>
									<li><a href="#">Marketing</a></li>
									<li><a href="#">Advertisement</a></li>
									<li><a href="#">Planing</a></li>
								</ul>
								<a class="offer-one_arrow" href="service-detail.html">
									<img src="{% static '' %}images/icons/offer_arrow.svg" alt="">
								</a>
							</div>
							<!-- Three -->
							<div class="offer-one_title">
								<div class="offer-one_icon-outer">
									<span class="offer-one_number">3</span>
									<div class="offer-one_icon">
										<img src="{% static '' %}images/icons/offer-3.svg" alt="">
									</div>
								</div>
								<h3 class="offer-one_heading"><a href="service-detail.html">Social Media Marketing</a></h3>
								<ul class="offer-one_tags">
									<li><a href="#">Strategy</a></li>
									<li><a href="#">Marketing</a></li>
									<li><a href="#">Advertisement</a></li>
									<li><a href="#">Planing</a></li>
								</ul>
								<a class="offer-one_arrow" href="service-detail.html">
									<img src="{% static '' %}images/icons/offer_arrow.svg" alt="">
								</a>
							</div>
							<!-- Four -->
							<div class="offer-one_title">
								<div class="offer-one_icon-outer">
									<span class="offer-one_number">4</span>
									<div class="offer-one_icon">
										<img src="{% static '' %}images/icons/offer-4.svg" alt="">
									</div>
								</div>
								<h3 class="offer-one_heading"><a href="service-detail.html">Search Engine Optimization</a></h3>
								<ul class="offer-one_tags">
									<li><a href="#">Strategy</a></li>
									<li><a href="#">Marketing</a></li>
									<li><a href="#">Advertisement</a></li>
									<li><a href="#">Planing</a></li>
								</ul>
								<a class="offer-one_arrow" href="service-detail.html">
									<img src="{% static '' %}images/icons/offer_arrow.svg" alt="">
								</a>
							</div>
						</div>
					</div>
				</div>
				
			</div>
		</div>
	</section>
	<!-- End Program One -->

    <!-- Incredible One -->
	<section class="incredible-one">
		<div class="incredible-one_bg"></div>
		<div class="incredible-one_pattern" style="background-image:url({% static '' %}images/background/pattern-9.png)"></div>
		<div class="incredible-one_vector" style="background-image:url({% static '' %}images/background/pattern-10.png)"></div>
		<div class="auto-container">
			<!-- Sec Title -->
			<div class="sec-title light title-anim">
				<div class="sec-title_title">
					Get to know 
					<div class="sec-title_dots">
						<span></span>
						<span></span>
						<span></span>
					</div>
				</div>
				<h2 class="sec-title_heading">incredible individuals</h2>
			</div>
			<div class="incredible-one_title">behind <br>company</div>
		</div>
	</section>
	<!-- End Incredible One -->

    	<!-- Experiance One -->
	<section class="experiance-one">
		<div class="marque-outer">
			<!-- Animation Mode -->
			<div class="animation_mode">
				<h1>chatbot</h1>
				<h1 class="light">development</h1>
				<h1>chatbot</h1>
				<h1 class="light">development</h1>
			</div>
			<!-- Animation Mode Two -->
			<div class="animation_mode-two">
				<h2>search engine marketing</h2>
				<h2>search engine marketing</h2>
				<h2>search engine marketing</h2>
				<h2>search engine marketing</h2>
				<h2>search engine marketing</h2>
			</div>
		</div>
		<div class="auto-container">
			<div class="experiance-one_years d-flex justify-content-end">
				<div class="experiance-one_years-inner">
					<div class="experiance-one_text">with more than 40+ years of experience, our team has become a leader in this digital universe</div>
					<!-- Button Box -->
					<div class="experiance-one_button">
						<a href="about.html" class="theme-btn btn-style-one">
							<span class="btn-wrap">
								<span class="text-one">Get Started</span>
								<span class="text-two">Get Started</span>
							</span>
						</a>
					</div>
				</div>
			</div>
			
		</div>
	</section>
	<!-- End Marketing One -->

{% endblock body %}